<config>
    <user value="Cybozu"/> <!-- Enter your user name here -->
    <team value="0"/>         <!-- Your team number -->
    <passkey value=""/>       <!-- 32 hexadecimal characters if provided -->

    <power value="full"/>
    <gpu value="false"/>      <!-- If true, attempt to autoconfigure GPUs -->
    <fold-anon value="true"/>

    <run-as value="fahclient"/>
    <pid-file value="/var/run/fahclient.pid"/>

    <proxy value="squid.internet-egress.svc:3128"/>
    <proxy-enable value="true"/>

    <!-- Folding Slots
      No folding slot configuration is necessary.  The client will
      automatically choose a good configuration for you.  However, here
      are some examples:

        <slot id="0" type="CPU"/>

      or

        <slot id="0" type="CPU"/>
        <slot id="1" type="GPU"/>

      All slots in a configuration MUST have unique ids.
     -->
</config>
